// Min widths of the main breakpoints
$mobile: 375px;
$tablet: 768px;
$laptop: 1440px;

// Corresponds to the biggest viewport width when the sidebar menu is in collapsible state
$layout-sidebar-collapse-max-width: 1279px;